<div class="section" id="attrSection" data-in-tab="perf">
<div class="section" data-in-tab="perf">
<div class="section collapsible open" data-in-tab="perf">
<div class="section collapsible" data-in-tab="perf">
<div class="section collapsible" data-in-tab="perf">
<div class="section collapsible open" id="factorRollingSection" data-in-tab="perf">
<div class="section" data-in-tab="perf">
<div class="section collapsible" data-in-tab="perf">
<div class="section collapsible" data-in-tab="perf">
<div class="section collapsible" data-in-tab="perf">
<div class="section collapsible" data-in-tab="perf">
<div class="section collapsible" id="factorLoadingsSection" data-in-tab="perf">
<div class="section collapsible" data-in-tab="perf" id="premissasVsRealizadoSection">